<div class="jumbotron">
  <h1 class="display-3">Weather App</h1>
</div>

<div>
  <%= form_tag weather_path, method: :get, remote: true do -%>
    <input type="hidden" name="random" id="random" value="">
    <div class="col-lg-12">
      <div class="input-group">
        <input type="text" name="address" class="form-control" placeholder="Please provide a city and country in the world">
        <span class="input-group-btn">
          <button id="get-weather" class="btn btn-success" type="submit">Get Weather!</button>
        </span>
        <span class="input-group-btn">
          <button id="random-city" class="btn btn-primary" type="button">Random City!</button>
        </span>
      </div>
      <small class="form-text text-muted">(ex. New York, United States of America) (ex. Barranquilla, CO) (ex. Berlin)</small>
    </div>
    
    <br>
    <div class="alert" role="alert">
      <samp id="weather"></samp>
    </div>
  <% end -%>
</div>

<hr>